src/main/mule/sl-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="12296072-5ee0-4a63-b9c8-77481895bf22" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ca3a54c5-d04e-4ebb-b900-d049e6787f08" >
		<http:request-connection host="localhost" port="8092" />
	</http:request-config>
	<flow name="sl-customer-apiFlow" doc:id="08d77398-34b1-4ccc-862e-e7c9c7dd7519" >
		<http:listener doc:name="Listener" doc:id="1c0b95cd-532c-4314-9615-6956acc4bdcb" config-ref="HTTP_Listener_config" path="/getcustomers"/>
		<ee:transform doc:name="Transform Message" doc:id="11415354-462c-476e-9222-9da0fae1099a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"all systems called"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="862e26c5-e32b-411e-8dde-c671832a3743" message='#["payload"]'/>
	</flow>
</mule>
